@model WeatherApp.Models.CityWeather
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<H1>Weather</H1>

<div class="box text-center w-25">
    <table class="table w-50 flex-borderless ">
        <tbody>
            <tr class="  ">

                <td class="flex-borderless">
                    @Model.CityName
                    @Model.DateAndTime.ToShortTimeString()
                    <a href="/Home">Back</a>
                </td>

                <td class="flex-borderless">
                    @Model.TemperatureFahrenheit °F
                </td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
</div>





